bootstrap.servers={{ connect_bootstrap_servers }}
group.id={{ connect_group_id }}
key.converter=org.apache.kafka.connect.storage.StringConverter
value.converter=org.apache.kafka.connect.json.JsonConverter
value.converter.schemas.enable=false
internal.key.converter=org.apache.kafka.connect.json.JsonConverter
internal.value.converter=org.apache.kafka.connect.json.JsonConverter
internal.key.converter.schemas.enable=false
internal.value.converter.schemas.enable=false
config.storage.topic={{ connect_config_topic }}
offset.storage.topic={{ connect_offset_topic }}
status.storage.topic={{ connect_status_topic }}
config.storage.replication.factor=1
offset.storage.replication.factor=1
status.storage.replication.factor=1
offset.flush.interval.ms=10000
plugin.path={{ connect_plugin_path }}
listeners={{ connect_listener }}
rest.advertised.host.name={{ connect_rest_host_name }}
rest.port={{ connect_rest_port }}
